<% content_for :javascript_includes do %>
  <%= javascript_include_tag "routed/home.js" %>
<% end %>

<div class="gt-site-wrapper  gt-site-wrapper--dark">
  <div class="gt-site-wrapper__inner">

    <div class="gt-header">
      <div class="gt-header__logo">
        <%= image_tag 'greenville_together_logo_light.svg', class: 'gt-logo' %>
      </div>

      <div class="gt-header__intro">
        <h1 class="gt-header__intro__main  gt-heading  gt-heading--light">Let's get down to business.</h1>
        <h4 class="gt-header__intro__sub  gt-heading  gt-heading--light">
          There are always challenges in keeping a local business running, but this is too much. The impact that COVID-19 has had, on everyone, is having an undeniable impact on our local economy. Now, more than ever, it’s important to support eachother.
          <br>
          <br>
          That’s the goal of this project, and I invite anyone in our local business community, looking to offer or receive support, to join in.
        </h4>
      </div>
    </div>

  </div>
</div>

<div class="gt-site-wrapper  gt-site-wrapper--blue">
  <div class="gt-site-wrapper__inner  gt-home__help-blocks-wrapper">

    <div class="gt-home__help-blocks">
      <div class="gt-home__help-blocks__block">
        <h1 class="gt-heading">Get<br>Help</h1>
      </div>

      <div class="gt-home__help-blocks__block  is-ampersand">
        <h1 class="gt-heading  gt-heading--light">&</h1>
      </div>

      <div class="gt-home__help-blocks__block  is-outlined">
        <h1 class="gt-heading">Help<br>Out</h1>
      </div>

    </div>

  </div>
</div>

<div class="gt-site-wrapper">
  <div class="gt-site-wrapper__inner  gt-home__services-blocks-wrapper">

    <div class="gt-home__services-blocks">
      <div class="gt-home__services-blocks__block">
        <h1 class="gt-heading">What people are offering</h1>
        <% 3.times do %>
          <%= render 'shared/service_summary', locals: {
              title: 'E-Commerce / Website Support',
              user: 'Jonathan Bowman',
              terms: 'Free',
              body: 'I’m a local software engineer, but I used to make websites, applications, e-commerce sites, for small to medium businesses. If anyone is looking for help getting their business model adjusted to something that can be supported online, I’m happy to help as best I can. Let me know what I can do.',
              ctas: [
                { type: 'primary', text: 'I could use this!' }, { type: 'secondary', text: 'I can also offer this!' }
              ]
            }
          %>
        <% end %>
      </div>

      <div class="gt-home__services-blocks__block  is-outlined">
        <h1 class="gt-heading">What people are looking for</h1>
        <% 2.times do %>
          <%= render 'shared/service_summary', locals: {
              title: 'E-Commerce / Website Support',
              user: 'Jonathan Bowman',
              body: 'I’m a local software engineer, but I used to make websites, applications, e-commerce sites, for small to medium businesses. If anyone is looking for help getting their business model adjusted to something that can be supported online, I’m happy to help as best I can. Let me know what I can do.',
              ctas: [
                { type: 'primary', text: 'I can help with this!' }
              ]
            }
          %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="gt-site-wrapper  gt-site-wrapper--dark">
  <div class="gt-site-wrapper__inner  gt-home__participate">

    <h3 class="gt-heading  gt-heading--light">Want to participate? Wonderful!</h3>
    <h4 class="gt-heading  gt-heading--light">Let's start by letting us know if you're looking to request some help, or offer some help.</h4>

    <div class="gt-home__participate__request-offer">
      <h4 class="gt-home__participate__request-offer__request  js-open-form  is-active" data-service-type="request">Requesting</h4>
      <h4 class="gt-home__participate__request-offer__offer  js-open-form" data-service-type="offer">Offering</h4>
    </div>

    <div class="gt-home__participate__form  is-open">
      <% if user_signed_in? %>
        <h3 class="gt-heading  gt-heading--light">I'm a signed in user! <%= current_user.email %></h3>
      <% else %>
        <h5 class="gt-heading  gt-heading--light">Please sign in or sign up before starting.</h5>
        <div class="gt-home__sign-in-sign-up-tabs">
          <div class="js-sign-in-sign-up-tab  is-active">Sign In</div>
          <div class="js-sign-in-sign-up-tab">Sign Up</div>
        </div>
        <div class="gt-home__participate__form__sign-in  is-hidden">
          <form>
            <div class="gt-input  gt-input--light">
              <label for="email" class="gt-input__label">Email</label>
              <input type="email" name="email" class="gt-input__field">
            </div>

            <div class="gt-input  gt-input--light">
              <label for="email" class="gt-input__label">Password</label>
              <input type="password" name="password" class="gt-input__field">
            </div>

            <button type="button" class="gt-button  gt-button--primary  js-sign-in">Sign In</button>
          </form>
        </div>
        <div class="gt-home__participate__form__sign-up">
          <form>
            <div class="gt-input  gt-input--light">
              <label for="email" class="gt-input__label">Email</label>
              <input type="email" name="email" class="gt-input__field">
            </div>

            <div class="gt-input  gt-input--light">
              <label for="email" class="gt-input__label">Password</label>
              <input type="password" name="password" class="gt-input__field">
            </div>

            <div class="gt-input  gt-input--light">
              <label for="email" class="gt-input__label">Confirm Password</label>
              <input type="password" name="password_confirmation" class="gt-input__field">
            </div>

            <button type="button" class="gt-button  gt-button--primary  js-sign-up">Sign Up</button>
          </form>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="gt-site-wrapper">
  <div class="gt-site-wrapper__inner  gt-home__services-blocks-wrapper">

    <div class="gt-home__services-blocks">
      <div class="gt-home__services-blocks__block">
        <h1 class="gt-heading">What people are offering</h1>
        <% 3.times do %>
          <%= render 'shared/service_summary', locals: {
              title: 'E-Commerce / Website Support',
              user: 'Jonathan Bowman',
              terms: 'Free',
              body: 'I’m a local software engineer, but I used to make websites, applications, e-commerce sites, for small to medium businesses. If anyone is looking for help getting their business model adjusted to something that can be supported online, I’m happy to help as best I can. Let me know what I can do.',
              ctas: [
                { type: 'primary', text: 'I could use this!' }, { type: 'secondary', text: 'I can also offer this!' }
              ]
            }
          %>
        <% end %>
      </div>

      <div class="gt-home__services-blocks__block  is-outlined">
        <h1 class="gt-heading">What people are looking for</h1>
        <% 2.times do %>
          <%= render 'shared/service_summary', locals: {
              title: 'E-Commerce / Website Support',
              user: 'Jonathan Bowman',
              body: 'I’m a local software engineer, but I used to make websites, applications, e-commerce sites, for small to medium businesses. If anyone is looking for help getting their business model adjusted to something that can be supported online, I’m happy to help as best I can. Let me know what I can do.',
              ctas: [
                { type: 'primary', text: 'I can help with this!' }
              ]
            }
          %>
        <% end %>
      </div>
    </div>

  </div>
</div>