<!DOCTYPE html>
<html>
  <head>
    <title>Greenville Together</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "app.css" %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag "application.js" %>
    <%= yield :javascript_includes %>
  </body>
</html>
